@using CinemaPOS.Models;
@model CinemaPOS.ModelosPropios.Model.Funcion_Vista

@{
    ViewBag.Title = "VistaPrincipal";
    Layout = null;
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - CinemaPOS</title>
<style>
    #floating-top-right {
        z-index: 999999999;
    }
    .active{
        width:100%!important;
    }
   
}
</style>

<!--STYLESHEET-->
<!--=================================================-->
<!--Open Sans Font [ OPTIONAL ]-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

<!--Bootstrap Stylesheet [ REQUIRED ]-->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

<!--Nifty Stylesheet [ REQUIRED ]-->
<link href="~/Content/css/nifty.min.css" rel="stylesheet">

<!--Nifty Premium Icon [ DEMONSTRATION ]-->
<link href="~/Content/css/demo/nifty-demo-icons.min.css" rel="stylesheet">

<!--Demo [ DEMONSTRATION ]-->
<link href="~/Content/css/demo/nifty-demo.min.css" rel="stylesheet">

<!--Morris.js [ OPTIONAL ]-->
@*<link href="~/Content/plugins/morris-js/morris.min.css" rel="stylesheet">*@

<link href="~/Content/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
<!--Magic Checkbox [ OPTIONAL ]-->
<link href="~/Content/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">

<!--JAVASCRIPT-->
<!--=================================================-->
<!--Pace - Page Load Progress Par [OPTIONAL]-->
<link href="~/Content/plugins/pace/pace.min.css" rel="stylesheet">
<script src="~/Content/plugins/pace/pace.min.js"></script>

<!--jQuery [ REQUIRED ]-->
<script src="~/Content/js/jquery-2.2.4.min.js"></script>

<!--BootstrapJS [ RECOMMENDED ]-->
<script src="~/Content/js/bootstrap.min.js"></script>

<!--NiftyJS [ RECOMMENDED ]-->
<script src="~/Content/js/nifty.min.js"></script>

<!--=================================================-->
<!--Demo script [ DEMONSTRATION ]-->
<script src="~/Content/js/demo/nifty-demo.min.js"></script>

<!--Morris.js [ OPTIONAL ]-->
@*<script src="~/Content/plugins/morris-js/morris.min.js"></script>
    <script src="~/Content/plugins/morris-js/raphael-js/raphael.min.js"></script>*@

<!--Sparkline [ OPTIONAL ]-->
<script src="~/Content/plugins/sparkline/jquery.sparkline.min.js"></script>

<!--Specify page [ SAMPLE ]-->
@*<script src="~/Content/js/demo/dashboard.js"></script>*@



<link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
<script src="~/Content/plugins/chosen/chosen.jquery.min.js"></script>
<script src="~/Content/plugins/blockUI/jquery.blockUI.js"></script>
<!--jQuery [ REQUIRED ]-->
<!--DataTables [ OPTIONAL ]-->
<script src="~/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="~/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<!--DataTables Sample [ SAMPLE ]-->
<script src="~/Content/js/demo/tables-datatables.js"></script>
<link href="~/Content/css/demo/nifty-demo-icons.css" rel="stylesheet" />
<link href="~/Content/css/CinemaPOS.css" rel="stylesheet" />
<script src="~/Content/js/sweetalert.min.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Content/css/sweetalert.css">
<link href="~/Content/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">

<!--Bootstrap Validator [ OPTIONAL ]-->
<script src="~/Content/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
<script src="~/Content/js/validate.js"></script>
<script>
    function ModalProcesandoShow() {
        $("#ModalProcessing").modal();// initialized with defaults
        $("#ModalProcessing").modal({ backdrop: 'static', keyboard: false });// initialized with no keyboard
        $("#ModalProcessing").modal('show');
    }

    // Oculta Modal de procesando
    function ModalProcesandoHiden() {
        $("#ModalProcessing").modal('hide');
    }

</script>
<style>
    /* Animación con keyframe llamada "latidos" */
    @@keyframes latidos {
        from {
            transform: none;
        }

        60% {
            transform: scale(1.1);
        }

        to {
            transform: none;
        }
    }
    /* En la clase corazon vamos a llamar latidos en la animación  */
    .proximamente_iniciar {
        display: inline-block;
        font-size: 18px;
        text-shadow: 0 0 10px #222,1px 1px 0 #450505;
        color: red;
        animation: latidos .8s infinite;
        transform-origin: center;
    }

    .proximamente_cerrar {
        display: inline-block;
        font-size: 18px;
        text-shadow: 0 0 10px #222,1px 1px 0 #450505;
        color: blue;
        animation: latidos .8s infinite;
        transform-origin: center;
    }
    /*.horarios{
        font-size:150%;
    }
    .caja-horario{
        height:10%;
    }*/
    /*img{
        margin-left:15%;
        margin-right:auto;
    }*/
</style>
<style>
    .name-tab {
        font-size: 150%;
    }

    .poster-peliculas {
        width: 75px;
        margin: 1px;
    }

    .nombre-peliculas {
        margin-left: 20px;
    }


    .tarifas {
        text-align: center;
        height: 30%;
        background-color: #ecf0f5;
    }

    body {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #caja-funciones::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    #caja-funciones::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #caja-funciones::-webkit-scrollbar-thumb {
        background-color: #808080;
        background-image: -webkit-gradient(linear, 0 0, 0 75%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    }

    #panel-tarifas-funcion::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    #panel-tarifas-funcion::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #panel-tarifas-funcion::-webkit-scrollbar-thumb {
        background-color: #808080;
        background-image: -webkit-gradient(linear, 0 0, 0 75%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    }

    #boletas-comprar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    #boletas-comprar::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #boletas-comprar::-webkit-scrollbar-thumb {
        background-color: #808080;
        background-image: -webkit-gradient(linear, 0 0, 0 75%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    }

    p {
        color: #2b425b;
    }

    .funcion {
        background-color: #dddddd;
    }

    .funciones {
        margin-left: 0px;
    }

    input[type="search"] {
        height: 25px;
    }

    .dataTables_length {
        display: none;
    }

    body {
        width: expression(document.body.clientWidth > 1201? "1200px": "1800px");
    }
    .funcion:hover{
        cursor:pointer;
        background-color:rgba(129, 122, 122, 0.93);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
<div id="loader"></div>
<div id="dialog"></div>
<div id="container" style="min-height: 1px">
    <div id="content" style="min-height: 1px">
        <div id="DivLoadingPage"></div>
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="ModalProcessing">
            <img src="~/Repositorio_Imagenes/Imagenes_Generales/modal-loading.gif" alt="Loading">
        </div>
    </div>
</div>

<div class="panel">
    <input type="hidden" id="cantidad_boletas" />
    
    <div class="col-sm-8 pad-no">
        <div class="row pad-no mar-no">
            <div class="row col-lg-12 pad-no mar-no">
                <di class="nav nav-tabs tabs-left" style="border-bottom:none;">
                        <div id="info-taq">
                            <div class="col-sm-12">
                                <div class="pad-no mar-no text-overflow">
                                    <strong>Usuario del sistema:</strong>&nbsp;@(((UsuarioSistema)(Session["usuario"])).Nombre + " " + ((UsuarioSistema)(Session["usuario"])).Apellido)<br />
                                    <strong>Información de la estación:</strong>&nbsp;@(ViewBag.InfoTaquilla.Teatro.Nombre + " " + ViewBag.InfoTaquilla.Nombre)
                                </div>
                            </div>
                        </div>
                </di>
            </div>
        </div>
        <div class="row pad-no mar-no mar-lft">
            <div style="float:right;" class="pad-no mar-no">
                <ul class="nav nav-tabs tabs-left pad-no mar-no" style="margin-top:30px;border-bottom:none;">
                    <li class="alignright">
                        <a id="reloj" class="ion-clock" onfocus="window.document.form_reloj.reloj.blur()"  style="font-size:20px"></a>
                    </li>
                    <li class="alignright">
                        <a class="" href="javascript:Fechas(0)" style="font-size:20px">Hoy&nbsp;<i class="ion-calendar"></i></a>
                    </li>
                    <li class="alignright">
                        <a class="" href="javascript:Fechas(2)" style="font-size:20px"><i class="ion-arrow-left-b "></i>&nbsp;<i class="ion-calendar"></i></a>
                    </li>
                    <li class="alignright">
                        <a id="fecha_filtro" style="font-size:20px"><i class="ion-calendar"></i>&nbsp;@DateTime.Now.ToLongDateString()</a>
                    </li>
                    <li class="alignright">
                        <a class="" href="javascript:Fechas(1)" style="font-size:20px"><i class="ion-calendar"></i>&nbsp;<i class="ion-arrow-right-b"></i></a>
                    </li>
                    @*<li>

                    <A HREF="javascript:void(0);" onclick="requestFullScreen()">Pantalla completa</A>
                </li>*@
                </ul>
            </div>
        </div>
        <div class="row pad-lft pad-rgt">
            <div id="panel-funciones" class="tab-pane fade active in">

                <div class="row panel-visualizacion-funciones">
                    <div class="panel-body  mar-no ">
                        <div class="row">
                            <div class="">
                                <div class="row" id="caja-funciones" style="height:67%;overflow-y: scroll; overflow-x:hidden;">
                                    <div class="input-group mar-btm">
                                        <span class="input-group-addon"><i class="ion-ios-search-strong "></i></span>
                                        <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Nombre de la pelicula..">
                                    </div>
                                   
                                    <table id="tabla-funciones" class="table table-striped table-bordered" cellspacing="0">
                                        <thead style="display:none;">
                                            <tr>
                                                <th>Poster</th>
                                                <th>Descripcion</th>
                                                <th>Funciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                        </tbody>

                                    </table>
                                </div>

                                

                            </div>
                            

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="border:solid 1px rgba(174, 174, 174, 0.43);padding-right:3%;padding-bottom:2%;">
            <div class="col-sm-4">
                <img src="~/Repositorio_Imagenes/Imagenes_Generales/logo1.png" style="width:40%" />
            </div>
            <a class="col-sm-1 add-tooltip" style="float:right;" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Remover la boletas seleccionadas para la venta">
                <div class="row text-center">
                    <i style="color:red;font-size:3em;cursor:pointer" class="icon-remove_shopping_cart icon-3x icon-fw"></i>
                </div>
                <div class="row text-center pad-no" style="margin-top:-10%;">
                    <h5>Cancelar</h5>

                </div>
            </a>

            <a class="col-sm-1" style="float:right;">
                <div class="row text-center">
                    <div id="ver_sala" onclick="javascript:ver_mapa_sala(0,0,0)" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Permite ver en el mapa de la sala para la función seleccionada" style="color:black;font-size:3em;cursor:pointer" class="demo-pli-monitor-2 text-main icon-3x add-tooltip" disabled></div>
                </div>
                <div class="row text-center pad-no" style="margin-top:-10%;">
                    <h5>Ver sala</h5>

                </div>
            </a>
            
            <a class="col-sm-1" style="float:right;">
                <div class="row text-center">
                    <div id="" onclick="validar_cupon()" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Redención de convenios y venta empresarial" style="color:black;font-size:3em;cursor:pointer" class="ion-ios-barcode text-main icon-3x add-tooltip" disabled></div>
                </div>
                <div class="row text-center pad-no" style="margin-top:-10%;">
                    <h5>Cupones</h5>
                </div>
            </a>
            <a class="col-sm-1" style="float:right;" href="javascript:vender_producto()">
                <div class="row text-center">
                    <div data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Vender Productos" style="color:black;font-size:3em;cursor:pointer" class="ion-bag text-main icon-3x add-tooltip" disabled></div>
                </div>
                <div class="row text-center pad-no" style="margin-top:-10%;">
                    <h6>Vender Producto</h6>
                </div>
            </a>
            <a class="col-sm-1" style="float:right;" href="/Cuenta/limpiarSession">
                <div class="row text-center">
                    <div data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Cerrar sesión" style="color:black;font-size:3em;cursor:pointer" class="ion-share text-main icon-3x add-tooltip" disabled></div>
                </div>
                <div class="row text-center pad-no" style="margin-top:-10%;">
                    <h5>Salir</h5>

                </div>
            </a>

        </div>
    </div>
    <div class="row col-sm-4 pad-no ">
        <div class="">
            <div class="row panel">
                <div class="panel-heading" style="background-color:#c3c3c3">
                    <h3 class="panel-title text-center">Tarifas para la función</h3>
                </div>
                <div id="panel-tarifas-funcion" style="height:30%;overflow-y:scroll;overflow-x:hidden;">
                </div>

            </div>
            <div class="row panel" style="overflow-y:hidden;overflow-x:hidden;">
                <div class="panel-heading" style="background-color:#c3c3c3;">
                    <h3 class="panel-title text-center">Items a vender</h3>
                </div>
                <div id="boletas-comprar" style="height:46%;overflow-y:scroll;overflow-x:hidden;">



                </div>
                <div class="row">
                    <div class="col-sm-6" id="precio-items"><h4>Total boletas $</h4></div>
                    <div class="col-sm-6" id="cantidad-items"><h4>Total boletas #:</h4></div>
                    <input type="hidden" id="cantidad_sillas" />
                    <input type="hidden" id="precio-total-boletas" />
                    <input type="hidden" id="precio-total-producto" />

                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="RowID_Funcion" />
</div>
<div id="Dialog"></div>
<div id="DialogCupones"></div>
<div id="DialogProductos"></div>

<script>
    function eliminar_producto(id){
        $("#" + id + "").remove();
    }
    function Fechas(accion) {
        $.ajax({
            url: "/POS/GetFechaFiltro",
            async: false,
            data: { accion: accion, fechavista: $("#fecha_filtro").text() },

            success: function (data) {
                $("#fecha_filtro").text(data)
                buscar_funciones();
            },
            error: function(data){
                console.log(data)
            }
        })
    }
    function buscar_funciones(fecha) {
        $.ajax({
            url: "/POS/htmlvista",
            async: false,
            data: { fecha_programacion: $("#fecha_filtro").text(), multicineID: 1 },
            cache: false,
            success: function (data) {
                $("#tabla-funciones tbody").empty().append(data);
                //requestFullScreen();
            },
            error:console.log("error")
        })

    }
    function get_tarifas(rowid_funcion) {

            $.ajax({
                url: "/POS/Get_Tarifas_Funcion",
                async: false,
                data: {
                    RowID_Funcion: rowid_funcion
                },
                success: function (data) {
                    $("#panel-tarifas-funcion").empty().append(data);
                    $("#boletas-comprar").empty();

                    $("#ver_sala").attr('onclick', 'javascrip:ver_mapa_sala(' + $("#SalaID").val() + ',0,' + rowid_funcion + ')');
                    ContarBoletasVender();
                },
                error: function () {
                    Console.log("Error");
                }
            })
        
    }
    function adicionar_item(rowid_tarifafuncion, cantidad, element) {
        if ($(element).data("type-rate") == "TCR") {
            //abrir ventana para validar la persona con tcr
            debugger
            var lol = abrir_modal_valida_tcr(rowid_tarifafuncion, cantidad, element);
            debugger
            console.log(lol);
        }
        else {
            boleta_vender(rowid_tarifafuncion, cantidad, element);
        }
    }
    function abrir_modal_valida_tcr(rowid_tarifafuncion, cantidad, element) {
        var lol;
        swal({
            title: "An input!",
            text: "Write something interesting:",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: false,
            animation: "slide-from-top",
            inputPlaceholder: "Write something"
                    },
            function (inputValue) {
                if (inputValue === false) return false;

                if (inputValue === "") {
                    swal.showInputError("You need to write something!");
                    return false
                }
                $.ajax({
                    url: "ValidarTCR",
                    async:false,
                    data: { Ntarjeta: inputValue },
                    success: function (data) {
                        if (data.tipo_respuesta == "warning") {
                            debugger
                            swal("Advertencia", data.respuesta, data.tipo_respuesta);
                            lol = true;
                        }
                        else {
                            debugger
                            swal("Valido!", data.respuesta, data.tipo_respuesta);
                            boleta_vender(rowid_tarifafuncion, cantidad, element);
                            lol =false;
                        }
                        
                    },
                    error: function (data) {
                        console.log(data);
                        swal("Valido!", data.respuesta, "warning");
                    }
                });
                return lol;
                //swal("Nice!", "You wrote: " + inputValue, "success");
            });
    }
    function boleta_vender(rowid_tarifafuncion, cantidad, element) {
        var cantidad_actual = $("#cantidad_boletas_tarifa_" + rowid_tarifafuncion + "").val();
        $("#cantidad_boletas_tarifa_" + rowid_tarifafuncion + "").remove();
        if (cantidad_actual == null) {
            cantidad_actual = 0;
        }
        var cantidad_boletas = parseInt(cantidad_actual) + parseInt(cantidad);
        if (cantidad_boletas <= 0) {
            $(".item-elimina " + rowid_tarifafuncion + "").remove()
        }
        else {
            $.ajax({
                url: "/POS/AdicionarItemVenta",
                async: false,
                data: {
                    RowID_ListaFuncion: rowid_tarifafuncion,
                    cantidadnueva: parseInt(cantidad_actual) + parseInt(cantidad),
                },
                success: function (data) {
                    $('.item-elimina' + rowid_tarifafuncion + '').remove();
                    $(".cantidad-boleta").remove()
                    $("#boletas-comprar").append(data);
                    ContarBoletasVender();
                },
                error: function () {
                    Console.log("Error");
                }
            })
        }
    }
    function ContarBoletasVender() {
        var boletas = 0;
        var precios = 0;
        $(".item-ventas").each(function (index) {
            boletas++;
        })
        //$(".suma-costo-pedido").each(function (index, text) {
        //    console.log(text.text);
        //})
        $(".suma-costo-pedido").each(function (index, element) {
            precios += parseInt($(this).text().replace('$', ''));
        });
        $("#precio-items").text("$" + precios);
        $("#precio-total-boletas").val(precios);
        $("#precio-items").empty().append("<h4>Total $:" + precios + "</h4>");
        
        $("#cantidad_boletas").val(boletas);
        $("#cantidad-items").empty().append("<h4>Total #:" + $(".boletas_vender_").val() + "</h4>");
        $("#cantidad_sillas").val($(".boletas_vender_").val());
    }
    function eliminar_item(clase) {
        var cantidad_actual = $("#cantidad_boletas_tarifa_" + clase + "").val();
        cantidad_actual = cantidad_actual - 1;

        //if (parseInt($(".cantidad-boleta-" + clase + "").val()-1) <= 0) {
        //    console.log(".item-elimina" + clase + "");
        //    $(".item-elimina" + clase + "").remove();
        //}
        var boletas = cantidad_actual;
        //$("." + clase + "").each(function () {

        //    if (boletas==1) {
        //       $(this).remove();
        //    }

        //    boletas++;
        //})

        $(".cantidad-boleta-" + clase + "").val(($(".cantidad-boleta-" + clase + "").val() - 1));
        $("#total-costo" + clase + "").text("$"+parseFloat($(".precio-items-" + clase + "").val()) * parseFloat($(".cantidad-boleta-" + clase + "").val()));
        $("#cantidad-total-" + clase + "").text($(".cantidad-boleta-" + clase + "").val());

        ContarBoletasVender();
    }
    //function ver_mapa_sala(SalaID) {
    //    if ($("#cantidad_boletas").val()!=0) {
    //        $.ajax({
    //            url: "/POS/Mapa_Sala_funcion",
    //            data: {
    //                RowID_Sala: $("#SalaID").val()
    //            },
    //            success: function (data) {
    //                //$("#boletas-comprar").append(data);
    //                ContarBoletasVender();
    //            },
    //            error: function () {
    //                Console.log("Error");
    //            }
    //        })
    //    }
    //    else {
    //        alert("No tiene boletas para la venta");
    //    }

    //}


    function ver_mapa_sala(SalaID, cantidad, RowID_Funcion) {
        if (SalaID == null || SalaID == 0 || RowID_Funcion == 0 || $(".tarifas_id").length == 0) {
            //swal("Advertencia", "no hay boletas a vender", "warning");
            alert("No hay boleteas para la venta");

        }
        else {
            cantidad = $(".boletas_vender_").val();
            var RowID_Tarifas = "";
            $(".tarifas_id").each(function (index, element) {
                RowID_Tarifas += $(this).val() + ',';
            })
            var urlWithCont = '../POS/Mapa_Sala_funcion?RowID_Sala=' + SalaID + '&cantidad_sillas_venta=' + cantidad + '&RowIDFuncion=' + RowID_Funcion + '&RowIDTarifas=' + RowID_Tarifas + '';
            $("#Dialog").load(urlWithCont.trim()).dialog('open');
        }

        
    }
    function vender_producto() {
        var urlWithCont = 'VenderProductos';
        $("#DialogProductos").load(urlWithCont.trim()).dialog('open');
    }

    $(document).ready(function () {
        //alert($(window).width()+"wid"+ $(window).height()+'hei');
        mueveReloj();
        buscar_funciones();
        getLocalIPs(function (ips) {
            if (ips.length > 0) {
                ip = ips[0];
            }
        });
        var fechasistema = $("#reloj").text();
        $(".funcion ").each(function (index, element) {
            //var hora_funcion="15:15:00" $(this).find(".hora_funcion").text();
            var hora_funcion="15:15:00";
            var hora_funcion_text = $(element).find(".hora_funcion").text();
            var hora_funcion = parseInt(hora_funcion_text.split[0]) + parseInt(hora_funcion_text.split[0]);

           if ((hora_funcion.replace(":", "")) > fechasistema.replace(":", "") && hora_funcion.replace(":", "") < (fechasistema.replace(":", "") + 20)) {
                console.log("por iniciar");
                $(this).find(".hora_funcion").addClass("proximamente_cerrar");
            }

           else if ((hora_funcion.replace(":", "")) > (fechasistema.replace(":", "")+20)) {
                console.log("mayor");
                $(this).find(".hora_funcion").addClass("proximamente_iniciar");
            }
           //if ((hora_funcion.replace(":", "") + 20) > fechasistema.replace(":", "")) {
           //     console.log("mayor");
           //     $(this).find(".hora_funcion").addClass("proximamente_iniciar");
           // }
        })
    })
    //$(document).keydown(function (event) {
    //    event.preventDefault();
    //    if (event.keyCode == 122) { // 122 es el código de F11
    //        event.originalEvent.keyCode = 0;
    //        window.alert("no dejo maximizar");
    //    }
    //});
    //function Alerts(menssage, tipo) {
        //warning,success,error
    //    $.niftyNoty({
    //        type: tipo,
    //        container: "floating",
    //        title: menssage,
    //        message: menssage,
    //        closeBtn: true,
    //        timer: 5000
    //    });
    //}
</script>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, ocultos, mensaje;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla-funciones");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {

            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                    ocultos++;
                }
            }
            if (tr.length==ocultos) {
                mensaje="si"
            }

        }
        if (mensaje == "si") {
            alert("no hay elementos");
        }
    }
    function cancelar_venta(clase, rowid) {
        $(".item-ventas, ." + clase + "").remove();
        $("." + clase + "").remove();
        $("." + rowid + "").each(function () {
            $(this).remove();
        })

        ContarBoletasVender();
    }
    function getLocalIPs(callback) {
        var ips = [];

        var RTCPeerConnection = window.RTCPeerConnection ||
        window.webkitRTCPeerConnection || window.mozRTCPeerConnection;

        var pc = new RTCPeerConnection({
            iceServers: []
        });
        pc.createDataChannel('');
        pc.onicecandidate = function (e) {
            if (!e.candidate) {
                callback(ips);
                return;
            }
            var ip = /^candidate:.+ (\S+) \d+ typ/.exec(e.candidate.candidate)[1];
            if (ips.indexOf(ip) == -1) // avoid duplicate entries (tcp/udp)
                ips.push(ip);
        };
        pc.createOffer(function (sdp) {
            pc.setLocalDescription(sdp)
        }, function onerror() { });
    }

</script>

<script language="JavaScript">
    function mueveReloj() {
        momentoActual = new Date()
        hora = momentoActual.getHours()
        minuto = momentoActual.getMinutes()
        segundo = momentoActual.getSeconds()

        str_segundo = new String(segundo)
        if (str_segundo.length == 1)
            segundo = "0" + segundo

        str_minuto = new String(minuto)
        if (str_minuto.length == 1)
            minuto = "0" + minuto

        str_hora = new String(hora)
        if (str_hora.length == 1)
            hora = "0" + hora

        horaImprimible = hora + " : " + minuto + " : " + segundo
        $("#reloj").text(horaImprimible)
        //document.getElementById("reloj").value = horaImprimible;
        //document.form_reloj.reloj.value = horaImprimible

        setTimeout("mueveReloj()", 1000)
    }
    function requestFullScreen() {
        var el = document.body;
        el.clientWidth = 1000;
        console.log(el.clientHeight)
        console.log(el.clientWidth)
        // Supports most browsers and their versions.
        var requestMethod = el.requestFullScreen || el.webkitRequestFullScreen
        || el.mozRequestFullScreen || el.msRequestFullScreen;
        if (requestMethod) {
            // Native full screen.
            requestMethod.call(el);
        } else if (typeof window.ActiveXObject !== "undefined") {
            // Older IE.
            var wscript = new ActiveXObject("WScript.Shell");

            if (wscript !== null) {
                wscript.SendKeys("{F11}");
            }
        }
    }
    function validar_cupon() {
        var urlWithCont = '../POS/ValidaCupones';
        console.log(urlWithCont);
        $("#DialogCupones").load(urlWithCont.trim()).dialog('open');

    }
</script>

 